<div class="container pt-3">
  <h2 class="mb-4 text-success fw-bold">My Projects</h2>

  <!-- Loading Message and Spinner -->
  <div *ngIf="isLoading" class="d-flex flex-column align-items-center my-5">
    <div class="spinner-border text-success mb-3" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="text-center text-muted">
      <p class="mb-0">Fetching data from server...</p>
      <small>This may take up to 1 minute due to free server cold start. Thank you for your patience.</small>
    </div>
  </div>  

  <div class="row">
    @for (project of projects; track $index) {
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">{{project.description}}</p>
            <div class="mb-2">
              @for (tech of project.tech; track $index) {
                <span class="badge bg-secondary me-1">{{tech}}</span>
              }
            </div>
            <a href="{{project.sourceCodeUrl}}" target="_blank" class="btn btn-outline-success btn-sm">
              <i class="fa-brands fa-github me-1"></i>View Code
            </a>
            @if (project.demoVideoUrl) {
              <div class="mt-3 ratio ratio-16x9">
                <iframe width="864" height="486" 
                        [src]="project.demoVideoUrl| safeUrl"
                        title="" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                        encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                      </iframe>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>