<footer class="footer bg-dark text-light py-4 mt-auto border-top">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="footer-left d-flex align-items-center mb-3 mb-md-0">
      <img src="./phaiecobyte.svg" alt="Logo" class="footer-logo me-2">
      <span>&copy; 2025 phaiecobyte</span>
    </div>
    <ul class="footer-links list-unstyled d-flex mb-3 mb-md-0">
      @for (item of links; track $index) {
        <li class="me-3">
            <a class="text-light text-decoration-none" routerLink="{{item.routerLink}}"> <i class="{{item.icon}} me-1"></i> {{item.label | translate}}</a>
        </li>
      }
    </ul>
    <div class="footer-social">
      @for (item of socials; track $index) {
        <a href="{{item.link}}" class="text-light me-3"><i class="{{item.icon}}"></i></a>
      }
    </div>
  </div>
</footer>