/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&family=Moulpali&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'quill/dist/quill.snow.css';

body{
    font-family: "Koh Santepheap", serif;
    background-color: #f8f9fa;
}


.loading-overlay{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1051;
   display: flex;
   justify-content: center;
   align-items: center;
}
.blur {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}