/* ACTIVE LINK */
.nav-link.active {
  color: #fff;
  font-weight: 600;
}

/* MOBILE */
@media (max-width: 991px) {
  .nav-link {
    font-size: 1rem;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .nav-link {
    font-size: 0.9rem;
  }
}
